body{
    background-color: #212529;
    color: white;
}   
.dropdown-menu{
    height:200px;
    overflow-y: auto;
}
.f1logo{
    width: 30%;
    height: 30%;
}
.nation{
    width: 30px;
    height: 30px;
}
.fastlap{
    background-color: blueviolet;
    color:white;
}
.pointer{
    cursor: pointer;
}